In [60]:
# PACKAGE YANG DIGUNAKAN
# xlrd, numpy, pandas, seaborn

# IMPORT PACKAGE
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.models import Sequential
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [7]:
# IMPORT DATASET
dataset = pd.read_excel("churndata.xlsx")

In [23]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [48]:
# SPLIT DATA TESTING AND TRAINING
x=dataset.iloc[:,3:13].values
y=dataset.iloc[:,-1].values

In [49]:
# DATA MASIH PERLU DIOLAH
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [50]:
# ENCODER LABEL & ONE HOT
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
x[:,1] = le.fit_transform(x[:,1])
x[:,2] = le.fit_transform(x[:,2])
one = OneHotEncoder(categorical_features=[1])
x = one.fit_transform(x).toarray()

/Users/sangsakawira/miniconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [51]:
x

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [70]:
# DATA SPLIT FOR MODELLING
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size= 0.4, random_state= 1234)

In [71]:
#Scaling Data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [72]:
X_test = sc.transform(X_test)

In [73]:
X_train.shape

(6000, 12)

In [74]:
X_test.shape

(4000, 12)

In [75]:
# MODELLING AND TRAINING
model = Sequential()
model.add(Dense(200, input_dim=12, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
# Compiling the ANN
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
model.fit(X_train, y_train, batch_size = 1000, epochs = 100,validation_data=(X_test,y_test))

Train on 6000 samples, validate on 4000 samples
Epoch 1/100
6000/6000 [==============================] - 0s 60us/sample - loss: 0.5764 - acc: 0.7837 - val_loss: 0.5208 - val_acc: 0.7962
Epoch 2/100
6000/6000 [==============================] - 0s 22us/sample - loss: 0.4809 - acc: 0.7963 - val_loss: 0.4525 - val_acc: 0.7962
Epoch 3/100
6000/6000 [==============================] - 0s 19us/sample - loss: 0.4402 - acc: 0.7963 - val_loss: 0.4337 - val_acc: 0.7962
Epoch 4/100
6000/6000 [==============================] - 0s 19us/sample - loss: 0.4193 - acc: 0.7963 - val_loss: 0.4190 - val_acc: 0.7962
Epoch 5/100
6000/6000 [==============================] - 0s 23us/sample - loss: 0.4028 - acc: 0.8065 - val_loss: 0.4104 - val_acc: 0.8310
Epoch 6/100
6000/6000 [==============================] - 0s 21us/sample - loss: 0.3852 - acc: 0.8458 - val_loss: 0.3927 - val_acc: 0.8450
Epoch 7/100
6000/6000 [==============================] - 0s 22us/sample - loss: 0.3629 - acc: 0.8570 - val_loss: 0.3716 - val_acc: 0.8535
Epoch 8/100
6000/6000 [==============================] - 0s 20us/sample - loss: 0.3388 - acc: 0.8592 - val_loss: 0.3641 - val_acc: 0.8547
Epoch 9/100
4000/6000 [===================>..........] - ETA: 0s - loss: 0.3214 - acc: 0.8648

In [69]:
model.save('model.h5')